<html>
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
      <link rel="stylesheet" href="../public/css/style.css">

      <title>Sistema de Geração de Relatórios</title>

      <style type="text/css">
         @import '../public/fontawesome-free-6.2.0-web/css/all.min.css';
         @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');
     </style>

   </head>
   <body>
      <div class="container">
         <div class="geracao">
            <h3>Sistema de Geração de Relatórios</h3>
            <button id="exportarRel" class="exportarRel"><i class="fa-solid fa-file-pdf"></i> Exportar Relatório</button>
         </div>
         <div class="card__todo">
            <h2>Tópicos manutenidos</h2>
            <input type="text" onkeyup="addNewTodo(event)" id="inputTodo" placeholder="Adicione tópicos a manutenção...">
            <div onclick="addNewTodo()" class="adc_btn">Adicionar</div>
         </div>
   
         <div id="print" class="conteudo">
            <p id='horaDia'></p>
            <ul id="ulTodo">
               <li>Verificar integridade dos discos rígidos</li>
               <li>Verificar atualizações pendentes de pacotes</li>
               <li>Verificar utilização de memória do sistema</li>
               <li>Analisar uso de CPU do sistema</li>
               <li>Verficação do Log Center (acessos não autorizados)</li>
               <li>Verificação de notificações</li>
               <li>Verificação do RAID 1</li>
               <li>Verificação da depuração dos dados</li>
               <li>Teste rápido em unidades suportadas</li>
            </ul>
         </div>
      </div>

      <script src="../services/app.js"></script>
   </body>
</html>