* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 250px;
    background-color: #5771e5;
    color: #f0f0f0;
    font-family: "Poppins", sans-serif;
}

.conteudo p {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 50px;
}

.geracao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.geracao h3 {
    font-size: 28px;
    font-weight: 400;
}

.geracao button {
    padding: 10px 10px;
    background-color: #5771e5;
    color: #fff;
    border: 2px solid #5771e5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
}

.geracao button:hover {
    cursor: pointer;
}

.geracao button i{
    font-size: 28px;
    margin-right: 5px;
}

ul {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: transparent;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:hover {
    background: #5771e5;
}

ul li.checked {
    background: rgba(200, 200, 200, 0.3);
    color: rgb(94, 85, 85);
}

ul li.checked::before {
    content: "";
    position: absolute;
    border-color: rgb(94, 85, 85);
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.fechar {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.fechar:hover {
    background-color: rgba(130, 702, 205, 0.3);
    color: white;
}

.card__todo {
    margin: 5px;
    background-color: transparent;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.card__todo h2{
    font-size: 24px;
    font-weight: 300;
}

.card__todo span{
    font-size: 14px;
    font-weight: 300;
}

input {
    margin: 0;
    border: none;
    border-radius: 10px 0px 0px 10px;
    width: 85%;
    padding: 10px;
    padding-left: 20px;
    float: left;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    outline: none;
}
input:focus {
    border: none!important;
}

.adc_btn {
    padding: 8px;
    width: 15%;
    background: #5771e5;
    color: #fff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0px 10px 10px 0px;
}
.adc_btn:hover {
    background-color: rgba(200, 200, 200, 0.3);
}